header{
    width: 100%;
    padding: 15px 30px; 
    position: fixed;
    top: 0;
    z-index: 9;

    .container{
        max-width: 1384px;
    }   
    .navbar{
        background-color: rgba(17, 17, 28, 0.9);
        backdrop-filter: blur(12px);
        color: $white-text;
        border-radius: 20px;
        padding: 15px 60px;
        position: sticky;
        top: 0;
    }
    .nav-item {
        padding: 0 20px;

        .nav-link{  
            font-family: $font-text;
            font-weight: 300;
            font-size: 16px;
            color: $white-text;
            position: relative;
            padding: 3px 0 !important;
            line-height: normal;
            letter-spacing: 1.92px;
            text-transform: uppercase;

            //  &.dropdown:hover{
            //     & .dropdown-menu{
            //         display: block;
            //     }   
            // }

            &::before{
                content: "";
                position: absolute;
                width: 0;
                height: 16px;
                background-image: url('../images/menu-active.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                bottom: -29px;
                left: 50%;
                transform: translateX(-50%);
                transition: width 0.3s ease-in-out;
            }

           

            &:hover{
                color: $white-text;
                &::before{
                    width: 64px;
                }
            }

            &.active, &:focus{
                color: $white-text !important;
                &::before{
                    width: 64px;
                }
            }

        }
        .dropdown-item{
            color: $black-text;
            text-transform: uppercase;

            &.active,
            &:active{
                background-color: rgba(119, 214, 227, 0.24);
                color: $black-text;
            }
        }
    }
    @media screen and (min-width: 992px) {
        .navbar .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0; /* removes jump */
            left: 0;
        }
    }

    .btn-site{
        min-width: 185px;
        height: 48px;
        margin-left: 20px;
        margin-right: 25px;

        span{
            width: 45px;
            height: 45px;
            right: -25px; 

            svg{
                width: 15px;
                height: 15px;

            }
        }
    }


}
@media (max-width: 1350px) {
    header .container {
        max-width: 1140px;
    }
    header .navbar{
        padding: 15px 30px;
    }
    .navbar-brand img{
        width: 200px;
    }
    header .nav-item {
        padding: 0 15px;
    }
    header .nav-item .nav-link{
        font-size: 14px;
    }
}
@media (max-width: 1200px) {
    .navbar-brand img {
        width: 150px;
    }
    header .btn-site {
        min-width: 150px;
        height: 48px;
        margin-left: 10px;
        margin-right: 25px;
        width: 168px;
        font-size: 14px;
        padding: 10px 23px 10px 15px;
    }
    header .nav-item {
        padding: 0 10px;
    }
    header .navbar {
        padding: 15px 20px;
    }
}
@media (max-width: 991px) {
    header .container {
        padding: 0 20px;
    }
    .container {
        padding: 0 20px;
    }
    header{
        padding: 15px 0;
    }
    header .navbar {
        padding: 15px 15px;
    }
    .navbar-brand img {
        width: 150px;
    }
    
}